@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #ffffff;
  --color-text-paragraph: #bebcbc;
  --color-error: #ff6557;
  --color-paper: #1e1f22;
  --color-primary: #1a1a2e;
  --color-background: #171718;
  --color-primary-contrast: #121647;
}

body {
  font-family: "GeistSans", "GeistSans Fallback", sans-serif;
  color: var(--color-text);
}

.underline {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 5px;
}

.underline_box {
  text-decoration: underline;
  text-decoration-color: #1a72ac;
  text-decoration-thickness: 2px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-paper);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: 3px solid var(--color-paper);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-contrast);
}

::-webkit-scrollbar-corner {
  background: var(--color-paper);
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 2.5s ease-in-out, fade-out 7s ease-in-out forwards;
}

@keyframes fade-out {
  0%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
