* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidebar */
.sidebar {
  background-color: var(--color-paper);
  padding: 20px;
  position: fixed;
  top: 0; /* Começa alinhada ao topo, abaixo do cabeçalho */
  left: 0;
  width: 240px;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  transform: translateY(-100%); /* Começa fora da tela, acima */
  transition: transform 0.3s ease; /* Transição suave */
}

.sidebar.visible {
  transform: translateY(0); /* Quando visível, ela desliza de volta para o topo */
}

.sidebar-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.sidebar-text {
  color: var(--color-text);
  font-size: 22px;
  margin-left: 10px;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.nav-links li {
  width: 100%;
}

.nav-links li a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links li a:hover {
  background-color: var(--color-primary-contrast);
  color: var(--color-text);
}

/* Divisórias */
.divider {
  border: none;
  height: 1px;
  background-color: var(--color-primary-contrast);
  margin: 15px 0;
  width: 100%;
}

/* Popup */
.popup {
  position: fixed;
  top: 20px;
  right: 0;
  background-color: var(--color-primary-contrast);
  color: var(--color-text);
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  z-index: 9999;
  animation: slideInRight 1s ease-in-out, stay 3s ease-in-out 1s, slideOutRight 1s ease-in-out 4s forwards;
  visibility: visible;
  opacity: 1;
}

.popup span {
  display: flex; /* Flexbox para garantir que o ícone e o texto fiquem em linha */
  align-items: center; /* Alinha verticalmente */
}

.popup span svg {
  margin-right: 8px; /* Adiciona margem à direita do ícone */
}