@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
  --color-text: #e8e8e8;
  --color-error: #ff6557;
  --color-paper: #131212;
  --color-primary: #842184;
  --color-background: #0e0d0d;
  --color-primary-contrast: #5e205d;
}

body {
  padding-left: 250px;
  font-family: 'Comic Neue', cursive;
  color: var(--color-text);
  background: var(--color-background);
}

@media (max-width: 769px) {
  body {
  padding-left: 0;

  }
}