@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
  font-family: 'Fira Code', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.atosjs {
  padding: 48px 32px 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
}

.atosjs h1 {
  padding: 16px;
  font-weight: bold;
  font-size: 75px;
  font-family: 'GeistSans', 'GeistSans Fallback', sans-serif;
  line-height: 1.25;
  z-index: 10;
}

.atosjs h1 span {
  background-color: var(--color-primary-contrast);
  border-radius: 0.375rem;
  padding: 4px 12px;
  color: white;
}

.atosjs p {
  padding: 20px;
  color: var(--color-text-paragraph);
  font-size: 18px;
  font-family: 'GeistSans', 'GeistSans Fallback', sans-serif;
  line-height: 1.25;
  z-index: 10;
}

.button-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
  transition: background-color 0.2s, border-color 0.2s;
}

.docs {
  background-color: var(--color-primary-contrast);
  border-color: var(--color-primary);
}

.docs:hover {
  background-color: var(--color-primary);
}

.github,
.donate {
  border-color: #4b5563;
}

.github:hover {
  background-color: rgb(41, 38, 38);
}

.donate {
  border-color: #e63946;
}

.donate:hover {
  background-color: #e63946;
}

svg {
  margin-left: 8px;
}

.lucide-heart {
  stroke: #fff;
}

.install-box {
  text-align: left;
  width: 450px;
  background: #1e1e1e;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #252526;
  padding: 10px 15px;
}

.tab-bar .tabs {
  display: flex;
  gap: 15px;
}

.tab-bar button {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  color: #cccccc;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: color 0.2s, border-bottom 0.2s;
  border-bottom: 2px solid transparent;
}

button.active {
  color: #1a72ac;
  border-bottom: 2px solid #033f67;
}

.tab-bar button:hover {
  color: #1a72ac;
}

.copy-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;
  transition: color 0.3s ease;
}

.copy-icon.copied {
  color: green;
}

button.copy-icon:hover {
  color: inherit;
}

.code-box {
  padding: 20px;
  background: #1b1b1b;
  font-family: 'FiraCodeMono Nerd Fonts', monospace;
  font-size: 14px;
  color: #d4d4d4;
  border-radius: 0 0 8px 8px;
  position: relative;
}

.code-box .language {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #808080;
  font-family: 'Fira Code', monospace;
  font-size: 12px;
  text-transform: uppercase;
}

.code-box .command {
  color: #9cdcfe;
}

.code-box .option {
  color: #ce9178;
}

.code-box .package {
  color: #dcdcaa;
}

.popup {
  position: fixed;
  top: 20px;
  right: 0;
  background-color: var(--color-primary-contrast);
  color: var(--color-text);
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  z-index: 9999;
  animation: slideInRight 1s ease-in-out, stay 3s ease-in-out 1s, slideOutRight 1s ease-in-out 4s forwards;
  visibility: visible;
  opacity: 1;
}

.popup span {
  display: flex;
  align-items: center;
}

.popup span svg {
  margin-right: 8px;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes stay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@font-face {
  font-family: 'FiraCodeMono Nerd Fonts';
  src: url('https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@master/patched-fonts/FiraCode/Regular/complete/FiraCodeNerdFont-Regular.ttf') format('truetype');
}

@media (max-width: 768px) {
  .install-box {
    width: 350px;
  }

  .atosjs h1 {
    font-size: 50px;
  }
}
