@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #ffffff;
  --color-text-paragraph: #bebcbc;
  --color-error: #ff6557;
  --color-paper: #1e1f22;
  --color-primary: #1a1a2e;
  --color-background: #171718;
  --color-primary-contrast: #121647;
}


/* body */
body {
  font-family: 'Comic Neue', cursive;
  color: var(--color-text);
  background: var(--color-background);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-paper);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: 3px solid var(--color-paper);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-contrast);
}

::-webkit-scrollbar-corner {
  background: var(--color-paper);
}
